body{
    background-color:gray;
}
header{
    background-color: gray;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
    text-align: center;
    padding:10px
    
    
}
.about{
    background-color: gray;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
    color:black;
    padding:10px

}
a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: gray;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}
a:hover{
    background-color: gray;
    font-family: "Titillium Web", sans-serif;
  font-weight: 600;
    color:black;
}
.b{
    text-align: center;
}